<!DOCTYPE html>
<html>
<head>
	<title>Astrology Doodles 💫✨🌠</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap" rel="stylesheet">
	<%- include('styles') %>
</head>
<body>
	<h1><span class="gradient"><%= sign %></span> Daily Horoscopes</h1>
	<br>
	<label for="sign-choice" class="visually-hidden">Choose a Sign:</label>
	<input list="signs" id="sign-choice" name="sign-choice" value="<%= sign %>" />
	<datalist id="signs">
		<% signs.forEach(function(s){ %>
			<option value="<%= s %>" />
		<% }); %>
	</datalist>
	<br>
	<nav class="tab-set no-spacing">
		<ul class="tab-set__wrapper">
			<li id="today"
				role="button"
				aria-selected="<%= !isTomorrow %>"
				class="tab-set__item <%= isTomorrow ? '' : 'tab-set__item--selected' %>"
				>
				Toyay
			</li>
			<li id="tomorrow"
				role="button"
				aria-selected="<%= !!isTomorrow %>"
				class="tab-set__item <%= isTomorrow ? 'tab-set__item--selected' : '' %>"
				>
				Tomorrow
			</li>
		</ul>
	</nav>
	<br>
	<% horoscopes.forEach(function(horoscope, i){ %>
		<% if(i > 0){ %><hr><% } %>
		<%- include('partial', { horoscope: horoscope }); %>
	<% }); %>
	<script type="text/javascript">
		(() => {
			// Changing Signs
			// ===========================================================

			let restoreVal = "";
			const inpt = document.getElementById("sign-choice");
			const valid = <%- JSON.stringify(signs) %>;

			// Clear on enter / restore on exit / redirect on change
			// ===========================================================
			function focus() {
				restoreVal = inpt.value;
				inpt.value = "";
			}
			function restore() {
				if (inpt.value && inpt.value !== restoreVal && valid.indexOf(inpt.value) > -1) {
					window.location = `/${inpt.value.toLowerCase()}`;
					return;
				}
				inpt.value = restoreVal;
				restoreVal = "";
			}

			// Bind events
			// ===========================================================
			inpt.onfocus = focus;
			inpt.onchange = restore;
		})();
		(() => {
			const selectedClass = "tab-set__item--selected";
			const todayBtn = document.getElementById("today");
			const tomBtn = document.getElementById("tomorrow");
			let isTomorrow = getQueryFromUrl("tomorrow") === "true";

			// Helpers
			// ===========================================================
			function getQueryFromUrl(name) {
				const query = {};
				const urlQuery = location.search;
				urlQuery.split(/\?|&/g).forEach((segment) => {
					const [nme, val] = segment.split('=');
					query[nme] = val;
				});
				return query[name];
			}

			// Handle today/tomorrow
			// ===========================================================
			function daySwap(tomorrow) {
				console.log('********** tomorrow', { tomorrow, isTomorrow })
				if (isTomorrow === tomorrow) return;
				const uri = `${location.origin}${location.pathname}`;
				let url = `${uri}?json=true&tomorrow=${!!tomorrow}`;

				fetch(url)
					.then(res => res.json())
					.then(res => {
						for (let r of res) {
							const [el] = document.getElementsByClassName(r.site);
							if (el) el.querySelector('p').innerText = decodeURIComponent(r.body);
						}
						isTomorrow = tomorrow;
						window.history.pushState(uri, document.querySelector('title').innerText, `${uri}?tomorrow=${isTomorrow}`);
						if (isTomorrow) {
							todayBtn.classList.remove(selectedClass);
							tomBtn.classList.add(selectedClass);
						} else {
							todayBtn.classList.add(selectedClass);
							tomBtn.classList.remove(selectedClass);
						}
					});
			}

			// Bind events
			// ===========================================================
			todayBtn.onclick = () => daySwap(false);
			tomBtn.onclick = () => daySwap(true);
		})();
	</script>
</body>
</html>