<!DOCTYPE html>
<html>
<head>
	<title>Astrology Doodles 💫✨🌠</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap" rel="stylesheet">
	<%- include('styles') %>
</head>
<body>
	<h1><span class="gradient"><%= sign %></span> Daily Horoscopes</h1>
	<br>
	<label for="sign-choice" class="visually-hidden">Choose a Sign:</label>
	<input list="signs" id="sign-choice" name="sign-choice" value="<%= sign %>" />
	<datalist id="signs">
		<% signs.forEach(function(s){ %>
			<option value="<%= s %>" />
		<% }); %>
	</datalist>
	<br>
	<% horoscopes.forEach(function(horoscope, i){ %>
		<% if(i > 0){ %><hr><% } %>
		<%- include('partial', { horoscope: horoscope }); %>
	<% }); %>
	<script type="text/javascript">
		(() => {
			let restoreVal = "";
			const inpt = document.getElementById("sign-choice");
			const valid = <%- JSON.stringify(signs) %>;

			// Clear on enter / restore on exit / redirect on change
			// ===========================================================
			function focus() {
				restoreVal = inpt.value;
				inpt.value = "";
			}
			function restore() {
				if (inpt.value && inpt.value !== restoreVal && valid.indexOf(inpt.value) > -1) {
					window.location = `/${inpt.value.toLowerCase()}`;
					return;
				}
				inpt.value = restoreVal;
				restoreVal = "";
			}

			// Bind events
			// ===========================================================
			inpt.onfocus = focus;
			inpt.onchange = restore;
		})();
	</script>
</body>
</html>